---
import DropdownMenu from "./DropdownMenu.astro";
import skills from "../data/skills.json";
import projects from "../data/projects.json";
import { Image } from "astro:assets";
import portrait from "../../assets/images/portrait.jpg";

const baseUrl = import.meta.env.BASE_URL;

// Map data to dropdown menu items
const competences = skills.map((skill) => ({
  label: skill.name,
  url: `${baseUrl}competences/${skill.id}`,
}));

const projets = projects.map((project) => ({
  label: project.title,
  url: `${baseUrl}projets/${project.id}`,
}));
---

<header class="global-header">
  <div class="header-container">
    <div class="header-content">
      <a href={baseUrl} class="logo-container">
        <div class="portrait">
          <Image
            src={portrait}
            alt="Portrait de Virgil Chareyre"
            width="50"
            height="50"
          />
        </div>
        <span class="logo-title">Virgil CHAREYRE</span>
      </a>

      <nav class="main-nav">
        <ul>
          <li>
            <a
              href={baseUrl}
              aria-current={Astro.url.pathname === "/" ? "page" : undefined}
              >Accueil</a
            >
          </li>
          <li>
            <a
              href={`${baseUrl}a-propos`}
              aria-current={Astro.url.pathname === "/a-propos"
                ? "page"
                : undefined}>À propos</a
            >
          </li>
          <DropdownMenu
            title="Compétences"
            url={`${baseUrl}competences`}
            items={competences}
            current={Astro.url.pathname.startsWith("/competences")}
          />
          <DropdownMenu
            title="Projets"
            url={`${baseUrl}projets`}
            items={projets}
            current={Astro.url.pathname.startsWith("/projets")}
          />
          <li>
            <a
              href={`${baseUrl}parcours`}
              aria-current={Astro.url.pathname === "/parcours"
                ? "page"
                : undefined}>Parcours</a
            >
          </li>
          <li>
            <a
              href={`${baseUrl}contact`}
              aria-current={Astro.url.pathname === "/contact"
                ? "page"
                : undefined}>Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
